.cardList {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-height: 60vh;
  overflow-y: auto;
  margin: 20px;
  align-content: center;
  padding: 0 1em;
}

.card {
  margin: 1em 0;
  width: 100%;
}

.scrollbar_cool::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.scrollbar_cool::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar_cool::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
