.navbar {
  padding-left: 35%;
  padding-right: 35%;
}

.navlink {
  color: rgb(170, 170, 170);
  text-decoration: underline dotted;
  font-size: 18px;
}

.navlink:hover {
  color: rgb(61, 61, 61);
  text-decoration: none;
}

.navbar-image {
  filter: invert(100%);
}
